body{
    font-family: 'Inter', sans-serif;
}
.inicial{
    display: flex;
    position: relative;
  }
  .der{
    position: absolute;
    left: 58%;
  }
  .prmv{
    display: none;
  }
  .img2{
  display: none;
  }
  .img{
    height: 96vh;
    width: 40vw;
  }
  .up{
    position: absolute;
    margin-top: -1vh;
    font-size: 5vh;
    color: #808194;
  }
  .izq{
    position: absolute;
    right: 53vw;
    margin-top: 10vh;
    width: 30vw;
    height: 80vh;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.15) 2px 2.4px 2.4px 3.2px;
  }
  .carinfo{
    padding: 2em;
  }
  .log{
    width: 25.5vw;
    height: 4vh;
    background-color: #4F90F0;
    margin-top: 10vh;
    border: 0px;
    border-radius: 4px;
    color: #ffffff;
    font-size: 1.2vw;
    cursor: pointer;
  }
  .caja{
    display: none;
  }
  .first{
    text-underline-position: 50px;
  }
  .or{
    display: flex;
    position: relative;
    margin-bottom: 8vh;
  }
  .txtor{
    position: absolute;
    left: 12vw;
    top: 0vh;

  }
  .email{
        width: -webkit-fill-available;
        height: 30px;
        border: #E0E0E5 1px solid;
        border-radius: 8px;
        cursor: pointer;
  }
  .password{
    width: -webkit-fill-available;
        height: 30px;
    border: #E0E0E5 1px solid;
    border-radius: 8px;
    cursor: pointer;
  }
  .icon{
    position: relative;
  }
  .icon>i>img{
    position: absolute;
    top: 0px;
    right: 5px;
    transform: translate(0px, 50%);
    width: 16px;
    height: 16px;
    cursor: pointer;
  }
  .tx1{
    font-size: 1.6vw;
    text-align: center;
    color: #2A2B2E;
    
  }
  #form{
    color: #808194;
  }
  .boton1{
    width: -webkit-fill-available;
    height: 30px;
    border: #E0E0E5 1px solid;
    border-radius: 8px;
    cursor: pointer;
}
.icon2{
  position: relative;
}
.icon2>i>img{
  position: absolute;
  top: 0px;
  right: 250px;
  transform: translate(0px, 50%);
  width: 16px;
  height: 16px;
  cursor: pointer;
}
.boton2{
  width: -webkit-fill-available;
  height: 30px;
  border: #E0E0E5 1px solid;
  background-color: #e0e0e500;
  border-radius: 8px;
  cursor: pointer;
}
  .rm_fp{
    position: relative;
  }
  .rm_fp1{
    position: absolute;
    margin-top: 2.5vh;
    font-size: 1.2vw;
  }
  #ch{
    cursor: pointer;
  }
  .rm_fp2{
    position: absolute;
    left: 15vw;
    text-decoration: underline rgb(150, 160, 247);
    cursor: pointer;
    font-size: 1.2vw;
  }
  .textfn{
	margin-left: 25px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	font-family: 'Athiti', sans-serif;
	font-size: 1.2vw;
	color: #00000077;
}
#create{
    margin-left: 10px;
    color: #000000;
    text-decoration: underline rgb(150, 160, 247);
    cursor: pointer;
    font-family: 'Inter Bold', sans-serif;
}
@media (min-width: 2400px) and (max-width: 2621px){
  .icon2>i>img{
    right: 420px;
  }
}
@media (min-width: 2000px) and (max-width: 2400px){
  .icon2>i>img{
    right: 390px;
  }
}
@media (min-width: 30px) and (max-width: 820px) {

  body{
    font-family: 'Inter', sans-serif;
}
.inicial{
    display: flex;
    position: relative;
  }
  .der{
    display: none !important;
  }
  .img{
    display: none !important;
  }
  .prmv{
    display: block;
  }
  .img2{
    margin: -8px;
  display: block;
  height: 30vh;
  width: 100vw;
  }
  .up{
    display: none !important;
  }
  .caja{
    position: absolute;
    top: 5vh;
    left: 35vw;
    display: block;
    box-shadow: 0px 0px 5px 1px black;
    background-color: #EDEDED;
    border: 5px solid #f5f5f7;
    height: 15vh;
    width: 30vw;
  }
  .or{
    display: flex;
    position: relative;
    margin-bottom: 8vh;
    text-align: center;
  }
  .txtor{
    position: absolute;
    left: 45vw;
    top: 0vh;
    text-align: center;
  }
  .izq{
    position: absolute;
    right: -1vw;
    margin-top: 16vh;
    width: 100vw;
    height: 75vh;
    box-shadow: rgba(0, 0, 0, 0) 2px 2.4px 2.4px 3.2px;
  }
  .carinfo{
    padding: 2em;
    margin-top: 16vh;
  }
  .log{
    width: 85vw;
    height: 6vh;
    background-color: #4F90F0;
    margin-top: 10vh;
    border: 0px;
    border-radius: 4px;
    color: #ffffff;
    font-size: 3vw;
  }
  .email{
        width: -webkit-fill-available;
        height: 30px;
        border: #E0E0E5 1px solid;
        border-radius: 8px;
  }
  .password{
    width: -webkit-fill-available;
        height: 30px;
    border: #E0E0E5 1px solid;
    border-radius: 8px;
  }
  .icon{
    position: relative;
  }
  .icon>i>img{
    position: absolute;
    top: 0px;
    right: 5px;
    transform: translate(0px, 50%);
    width: 16px;
    height: 16px;
    cursor: pointer;
  }
  .tx1{
    font-size: 4vw;
    text-align: center;
    color: #2A2B2E;
    
  }
  #form{
    color: #808194;
  }
  .btn1{
    display: flex;
    
  }
  .tx2{
    font-size: 3vw;
    width: 200vw;
    height: 6vh;
    background-color: #e0e0e500;
    border: #E0E0E5 1px solid;
    border-radius: 8px;
  }
  .gl{
    margin-right: 32vw;
    width: 6vw;
  }
  .gl2{
    margin-top: -24px;
  }
  .boton2{
    width: -webkit-fill-available;
    height: 30px;
    border: #E0E0E5 1px solid;
    background-color: #e0e0e500;
    border-radius: 8px;
    cursor: pointer;
    text-align: center;
  }
  .icon2{
    position: relative;
  }
  .icon2>i>img{
    position: absolute;
    top: 0px;
    right: 250px;
    transform: translate(0px, 50%);
    width: 16px;
    height: 16px;
    cursor: pointer;
    text-align: center;
  }
  .rm_fp1{
    position: absolute;
    margin-top: 2.5vh;
    font-size: 4vw;
  }
  #ch{
    cursor: pointer;
  }
  .rm_fp2{
    position: absolute;
    left: 49vw;
    text-decoration: underline rgb(150, 160, 247);
    cursor: pointer;
    font-size: 4vw;
  }
  .textfn{
	margin-left: 5px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	font-family: 'Athiti', sans-serif;
	font-size: 3vw;
	color: #00000077;
}
#create{
    margin-left: 15px;
    color: #000000;
    text-decoration: underline rgb(150, 160, 247);
    font-family: 'Inter Bold', sans-serif;
}

}